python==3.5
pathlib==1.0.1
Flask==1.1.2
gunicorn==20.0.4

numpy
scipy
scikit-image
tensorflow==1.14
opencv-python


pathlib==1.0.1 Flask==1.1.2 gunicorn==20.0.4 numpy scipy scikit-image tensorflow==1.14 opencv-python
